@using tl2_tp10_2023_SofiaaCruz.ViewModels;
 
@{
    ViewData["Title"] = "Modificar Tablero";
}

@model CrearTableroViewModel

<h1>@ViewData["Title"]</h1>
<form asp-controller="Tablero" asp-action="Create">
    <input hidden asp-for = "@Model.Id">
    <div class="form-group">
        <label for="Nombre">Nuevo nombre del tablero</label>
        <input asp-for = "@Model.Nombre" class="form-control" id="Nombre">
    </div>
    <div class="form-group">
        <label for="Descripcion">Nueva descripcion</label>
        <input asp-for = "@Model.Descripcion" class="form-control" id="Descripcion">
    </div>
        <div class="form-group">
        <label for="IdUsuario">Id del propietario</label>
        <input asp-for = "@Model.IdUsuarioPropietario" class="form-control" id="IdUsuario">
    </div>
    <button type="submit" class="btn btn-primary boton">Añadir</button>
</form>
